"*":
  "atom-beautify":
    general:
      _analyticsUserId: "98f6a8de-26b8-4d48-a3d0-b538adb773a8"
  "atom-clock":
    dateFormat: "YYYY. MMM. DD., ddd, HH:mm:ss"
    refreshInterval: 1
    showClockIcon: true
  autosave:
    enabled: true
  core:
    audioBeep: false
    disabledPackages: [
      "file-icon-supplement"
      "bookmarks"
      "deprecation-cop"
      "keybinding-resolver"
      "welcome"
      "update-package-dependencies"
      "timecop"
      "package-generator"
      "metrics"
      "language-csharp"
      "language-clojure"
      "language-go"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-property-list"
      "language-toml"
      "language-perl"
      "language-ruby-on-rails"
      "about"
      "autoflow"
      "command-palette"
      "styleguide"
      "autocomplete-atom-api"
      "archive-view"
      "background-tips"
      "github"
      "image-view"
      "language-c"
      "language-git"
      "language-less"
      "symbols-view"
    ]
    ignoredNames: [
      "node_modules"
      "bower_components"
      "tmp"
      ".git"
      "_site"
      "dist"
    ]
    packagesWithKeymapsDisabled: [
      "preview"
      "image-view"
    ]
    projectHome: "/home/nora/Projects"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "double-tag":
    allowEndTagSync: true
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
    useShadowDOM: false
  "ember-tabs":
    overrideUsePods: true
  "exception-reporting":
    userId: "b5a0e3c3-61c1-0597-cbc7-fb0b18c9e16f"
  "file-icon-supplement":
    treeViewIcons: false
  "file-icons":
    forceShow: true
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
      "node_modules/"
      "tmp"
      "bower_components"
      "bower_components/"
      "_site"
      "_site/"
      "dist"
    ]
  "git-diff": {}
  "line-ending-selector":
    defaultLineEnding: "LF"
  "markdown-preview": {}
  "package-generator":
    packageSyntax: "coffeescript"
  preview:
    _analyticsUserId: "0a37a152-0139-451a-8fd9-e0acc8dd86ec"
  "ruby-block":
    highlightLineNumber: true
  "status-bar-blame":
    dateFormat: "YYYY-MM-DD HH:mm"
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  wordcount:
    alwaysOn: true
".coffee.source":
  editor:
    autoIndentOnPaste: false
".console.python.text":
  editor:
    autoIndentOnPaste: false
".html.htmlbars.internal.subexp.text":
  editor:
    softWrap: true
".html.liquid.text":
  editor:
    autoIndent: false
    showIndentGuide: false
    showInvisibles: false
".js.source":
  editor:
    autoIndentOnPaste: false
".python.regexp.source":
  editor:
    tabLength: 2
".python.source":
  editor:
    autoIndentOnPaste: false
    tabLength: 2
".python.text.traceback":
  editor:
    autoIndentOnPaste: false
".sass.source":
  editor:
    autoIndentOnPaste: false
".text.xml":
  editor:
    autoIndentOnPaste: false
