# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on OS X and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

#disable things
'body .native-key-bindings':
    'ctrl-d': 'unset!'
    'alt-left': 'unset!'
    'alt-right': 'unset!'
    'alt-up': 'unset!'
    'alt-down': 'unset!'
    'alt-shift-left': 'unset!'
    'alt-shift-right': 'unset!'
    'alt-shift-up': 'unset!'
    'alt-shift-down': 'unset!'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
    'ctrl-d': 'unset!'

'.platform-linux':
    'ctrl-t': 'unset!'

'atom-text-editor':
    'ctrl-alt-b': 'unset!'
    'ctrl-alt-b': 'unset!'
    'ctrl-shift-alt-B': 'latex:build'
    'ctrl-shift-s': 'atom-beautify:beautify-editor'

'atom-workspace atom-text-editor:not([mini])':
    'ctrl-shift-D': 'unset!'
    'ctrl-d': 'editor:duplicate-lines'
    'ctrl-shift-d': 'editor:delete-line'
    'alt-left': 'unset!'
    'alt-right': 'unset!'
    'alt-up': 'unset!'
    'alt-down': 'unset!'
    'alt-shift-left': 'unset!'
    'alt-shift-right': 'unset!'
    'alt-shift-up': 'unset!'
    'alt-shift-down': 'unset!'
    'ctrl-shift-enter': 'unset!'

'.platform-linux':
    'shift shift': 'fuzzy-finder:toggle-file-finder'
    'shift tab tab': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor:not([mini])':
    'alt-left': 'unset!'
    'alt-right': 'unset!'
    'alt-up': 'unset!'
    'alt-down': 'unset!'
    'alt-shift-left': 'unset!'
    'alt-shift-right': 'unset!'
    'alt-shift-up': 'unset!'
    'alt-shift-down': 'unset!'

'atom-workspace atom-text-editor':
    'alt-left': 'unset!'
    'alt-right': 'unset!'
    'alt-up': 'unset!'
    'alt-down': 'unset!'
    'alt-shift-left': 'unset!'
    'alt-shift-right': 'unset!'
    'alt-shift-up': 'unset!'
    'alt-shift-down': 'unset!'

'.tree-view':
    'alt-left': 'unset!'
    'alt-right': 'unset!'
    'alt-up': 'unset!'
    'alt-down': 'unset!'

'body':
    'ctrl-tab': 'pane:show-next-item'
    'ctrl-shift-tab': 'pane:show-previous-item'
    'ctrl-q': 'unset!'
    'alt-down': 'window:focus-pane-below'
    'alt-right': 'window:focus-pane-on-right'
    'alt-up': 'window:focus-pane-above'
    'alt-left': 'window:focus-pane-on-left'
    'alt-shift-down': 'pane:split-down-and-copy-active-item'
    'alt-shift-left': 'pane:split-left-and-copy-active-item'
    'alt-shift-up': 'pane:split-up-and-copy-active-item'
    'alt-shift-right': 'pane:split-right-and-copy-active-item'
